 <div class="header">
            <div class="container">
                <div class="header-bottom">
                    <div class="header-bottom-area align-items-center">
                        <div class="logo">
                            <a href="/">
                                <img src="./assets/images/logoallvegus2.png" alt="logoallvegus">
                            </a>
                        </div>
                        <ul class="menu">
                            <li><a href="/">สล็อตเว็บตรง</a></li>
                            <li><a href="/promotion">โปรโมชั่น</a>
                                <ul class="sub-menu">
                                    <li><a href="/promotion/newmember">โบนัสสมาชิกใหม่</a></li>
                                    <li><a href="/promotion/moneytoday">เติมรายวัน</a></li>
                                    <li><a href="/promotion/refun">คืนยอดเสีย</a></li>
                                    <li><a href="/promotion/craditfree">เครดิตฟรี</a></li>
                                </ul>
                            </li>
                            <li><a href="#game-se">ค่ายเกมสล็อต
                                <span class="badge badge--sm badge--base text-dark">รวมทุกค่าย</span></a>
                                <ul class="sub-menu">
                                    <li><a href="/slotpg">SLOT-PG</a></li>
                                    <li><a href="/slotxo">SLOT-Xo</a></li>
                                    <li><a href="/slotufa">SLOT-UFA</a></li>
                                    <li><a href="/slotamb">SLOT-AMB</a></li>
                                    <li><a href="/slotwabetfilx">SLOT-BETFILX</a></li>
                                    <li><a href="/slotupsx">SLOT-UPSX</a></li>
                                    <li><a href="/slotwallet">SLOT-Wallet</a>
                                    </li>
                                </ul>
                            </li>
                                <li><a href="/register">วิธีสมัครสมาชิก</a></li>
                                <li><a href="/article">บทความ</a></li>
                                <li><a href="/contact">ติดต่อเรา</a>
                                    <ul class="sub-menu">
                                        <li><a href="/rss">RSS-FEED</a></li>
                                    </ul>
                                </li>
                                <button class="btn-close btn-close-white d-lg-none"></button>
                            </ul>
                                <div class="header-trigger-wrapper d-flex d-lg-none align-items-center">
                                    <div class="header-trigger me-4">
                                        <span></span>
                                    </div>
                                    <a href="https://allvegus.com" class="cmn--btn active btn--md d-none d-sm-block">สมัครสมาชิกสล็อตเว็บตรง</a>
                                </div>
                            </div>
                        </div>
            </div>
        </div>